/cs451-bigdatateach-a0-shakespeare/
/cs451-ssarefin-a0-shakespeare/
/wc/
/data/
/target/
/check_assignment0_public_linux.py
/check_assignment0_public_datasci.py
/cs451-bigdatateach-a1-shakespeare-pairs_temp
/cs451-bigdatateach-a1-shakespeare-pairs
check_assignment1_public_linux.py
/cs451-ssarefin-a1-shakespeare-pairs
/cs451-ssarefin-a1-shakespeare-stripes
/cs451-ssarefin-a1-shakespeare-stripes_temp
/check_assignment1_public_datasci.py
/check_assignment1_public_linux.py.1
/check_assignment1_public_linux.py.2
